/* SECTION */
.projects-section {
  background: #000;
  padding: 90px 10%;
  color: #fff;
}

/* HEADER */
.projects-header {
  text-align: center;
  margin-bottom: 70px;
}

.projects-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #0fbbff;
}

.projects-header p {
  color: #b0b0b0;
  font-size: 1.1rem;
}

/* LIST */
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ROW */
.project-row {
  display: flex;
  align-items: center;
  gap: 60px;
}

/* REVERSE EVERY SECOND ITEM */
.project-row.reverse {
  flex-direction: row-reverse;
}

/* IMAGE */
.project-image img {
     width: 240px;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

/* TEXT */
.project-content {
  flex: 1;
}

.project-content h2 {
  font-size: 2rem;
  margin-bottom: 14px;
}

.project-content p {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #d1d5db;
  max-width: 650px;
}

/* TAGS */
.project-tags {
  margin-top: 18px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.project-tags span {
  background: rgba(15, 187, 255, 0.15);
  color: #0fbbff;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 0.85rem;
}

/* BUTTON */
.project-btn {
  margin-top: 22px;
  padding: 10px 22px;
  border-radius: 30px;
  border: 1px solid #0fbbff;
  background: transparent;
  color: #0fbbff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-btn:hover {
  background: #000000;
  color: #000;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .project-row,
  .project-row.reverse {
    flex-direction: column;
    text-align: center;
  }

  .project-image img {
    width: 100%;
    height: auto;
  }

  .project-content p {
    max-width: 100%;
  }
}
